.offer-cont {
	background-color: #f2f4f7;
	border-radius: 8px;
	.offer-content {
		font-size: 13px;
		font-weight: 400;
		color: #074786;
		/* Limited time */
		width: 100%;
		padding: 20px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height, or 143% */

		color: #074786;

		line-height: 20px;
	}
}
